<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">Table des Oridinateurs</h4>
                           <!-- <p class="card-category"> Here is a subtitle for this table</p>-->
                        </div>
                        <div class="card-body">
                      <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>Nom</th>
                                <th>Prix</th>
                                <th>Processeur</th>
                                <th>RAM</th>
                                <th>ROM</th>
                                <th>
                                        <button mat-raised-button type="button" matTooltip="Ajouter" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">add</i>
                                        </button>
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let computer of computers">
                                    <td>{{computer.code}}</td>
                                    <td>{{computer.cost}}</td>
                                    <td>{{computer.processor}}</td>
                                    <td>{{computer.ram}}</td>
                                    <td>{{computer.rom}}</td>
                                    <td>
                                            <button mat-raised-button type="button" matTooltip="Modifier" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Supprimer" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Disponilités" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">update</i>
                                            </button>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                      </div>
                  </div>
                  </div>
          </div>
      </div>

      <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Table des Projecteurs</h4>
                       <!-- <p class="card-category"> Here is a subtitle for this table</p>-->
                    </div>
                    <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>Nom</th>
                            <th>Prix</th>
                            <th>
                                <button mat-raised-button type="button" matTooltip="Ajouter" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                    <i class="material-icons">add</i>
                                </button>
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let projector of projectors">
                                <td>{{projector.code}}</td>
                                <td>{{projector.cost}}</td>
                                <td>
                                        <button mat-raised-button type="button" matTooltip="Modifier" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                        </button>
                                        <button mat-raised-button type="button" matTooltip="Supprimer" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                        </button>
                                        <button mat-raised-button type="button" matTooltip="Disponilités" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">update</i>
                                        </button>
                                </td>
                            </tr>
                        </tbody>
                        </table>
                  </div>
              </div>
              </div>
      </div>
  </div>
  </div>
</div>



