<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">Table des salles</h4>
                           <!-- <p class="card-category"> Here is a subtitle for this table</p>-->
                        </div>
                        <div class="card-body">
                      <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>Nom</th>
                                <th>Prix</th>
                                <th>Capacité</th>
                                <th>
                                        <button mat-raised-button routerLink="/room/add" type="button" matTooltip="Ajouter" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">add</i>
                                        </button>   
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let room of rooms">
                                    <td>{{room.code}}</td>
                                    <td>{{room.cost}}</td>
                                    <td>{{room.capacity}}</td>
                                    <td class="td-actions">
                                            <button mat-raised-button type="button" matTooltip="Modifier" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Supprimer"  (click)="delete($event, room.id)" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                            </button>
                                            <button mat-raised-button type="button"  matTooltip="Disponilités" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">update</i>
                                            </button>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                      </div>
                  </div>
                  </div>
          </div>
      </div>
  </div>
</div>


